#btnAdd{
	margin-bottom: 10px;
	color: #fff;
	background-color: #027368;
	border-color: #027368;
}
#btnAdd:hover {
	background-color: #02403A;
}
#btnDeleteAllDepartments{
	margin-bottom: 10px;
}
.container{
	margin-top:  80px;
}
.bg-dark {
	background-color: #02403A!important;
  }
.btn-info {
    background-color: #0dcaf000;
    border-color: #0dcaf0;
}  
.btn-info:hover {
    color: rgb(255, 255, 255);
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}
.btn-secondary {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-color: #6c757d;   
}
.btn-secondary:hover {
    color: rgb(255, 255, 255);
    background-color: #6c757d;
    border-style: #6c757d;
}
.fa-edit {
    font-size: 25px;
    margin-left: 14px;
}
.fa-trash-alt {
    font-size: 25px;
    margin-left: 23px;
}
p{
	font-size: 12px;
}


#exit{
    cursor: hand;
    cursor: pointer;
  
  }